.header__nav {
  background-image: url(../../../images/popup__cross.svg);
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  transition: opacity .1s linear;
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
}

.header__nav:hover {
  opacity: 0.6;
}

@media all and (max-width: 520px) {
  .header__nav {
    display: block;
    margin: auto 30px auto 0;
  }
}
